language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly
  
before_install:
  - sudo apt-get install -y tor
  - sudo sh -c 'echo "ControlPort 9051" >> /etc/tor/torrc'
  - sudo sh -c 'echo "CookieAuthentication 0" >> /etc/tor/torrc'
  - sudo service tor restart
  
install:
  - composer install